* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}



nav {
	background-color: white;
	padding: 0.8rem;
	padding-right: 10%;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
}

.nav-logo {
	display: inline-block;
}

.right-nav li {
	margin: 0.5rem;
	display: inline-block;
	

}

.right-nav {
	display: inline-block;
	float: right;
}


nav button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	padding: 0.75rem;
}

#bg-image {
	background-image: url(./bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;
	color: white;
}

.front-bg {
	background-color: rgba(0,0,0,0.25);
	padding-top: 2rem;
	padding-bottom: 3rem;
	padding-right: 10%;
}

.front-bg .container {
	display: inline-block;
	max-width: 500px;
}

.title {
font-family: 'Zilla Slab', serif;
text-align: right;
font-size: 2.5rem;
margin-bottom: 1.5rem;

}

.subtitle {
	font-size: 1.25rem;
	font-weight: normal;
	padding-left: 4rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 30px;
	font-size: 1rem;
	padding: 0.75rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border-color: transparent;
	width: 150px;
	
}

.intro .title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.intro-description {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	width: 60%;
}

.pre-footer {
	background-color: #f7fbfb;
	padding: 3rem;
}

.pre-footer .title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.prefooter-description {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 60%;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 30px;
	font-size: 1rem;
	padding: 0.75rem;
	margin-left: auto;
	margin-right: auto;
	border-color: transparent;
	width: 150px;
	display: flex;
    justify-content: center;
}

footer {
	padding: 0.7rem;
	color: black;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}